*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 background-image: url(https://cdn.pixabay.com/photo/2016/11/10/11/40/seamless-1814111_1280.png);
 height: 100vh;
}
img{
    width: 130px;
}
.container{
  position: relative;
}
.cards{
    backface-visibility: hidden;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 20px;
}
.day-of-dead{
  width: 120px;
    height: 120px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
}
.front-face,.back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  background: #000000;
  backface-visibility: hidden;
}
.day-of-dead:active {
  transform: scale(0.97);
  transition: transform .2s;
}
.day-of-dead.flip {
  transform: rotateY(180deg);
}
.front-face {
  transform: rotateY(180deg);
}


h1{
    display: flex;
    justify-content: center;
    color: yellow;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    animation: 5s linear 2s infinite alternate hola,
                5s linear 2s infinite alternate adios;
}

@keyframes hola {
    from {
        background-color: yellow;
        transform: translateY(110vh);
    }
    to{
        background-color: orange;
        transform: translateY(0);
    }
}
@keyframes adios {
    from {
        transform: translateX(-50vw);

    }
    to {
        transform: translateX(50vw);
        /* https://developer.mozilla.org/en-US/docs/Web/CSS/@keyframes */
    }
}